.p1 {
  background: rgb(110, 236, 236);
  border: 3px solid rgb(101, 101, 206);
  padding: 30px;
  margin: 30px;
  position: absolute;
  top: -30px;
  left: -30px;
  width: 10px;
  height: 10px;
}
.p2 {
  background: rgb(43, 126, 126);
  border: 3px solid rgb(101, 101, 206);
  padding: 100px;
  margin: 10px;
  position: absolute;
  bottom: -3px;
  left: -10px;
  width: 10px;
  height: 10px;
}
.p3 {
  background: rgb(110, 236, 236);
  border: 3px solid rgb(101, 101, 206);
  padding: 50px;
  margin: 30px;
  position: absolute;
  top: -30px;
  left: 385px;
  width: 10px;
  height: 10px;
}
.p4 {
  background: rgb(110, 236, 236);
  border: 3px solid rgb(101, 101, 206);
  padding: 20px;
  margin: 20px;
  position: absolute;
  bottom: -25px;
  right: -20px;
  width: 5px;
  height: 15px;
}
.p5 {
  background: rgb(110, 236, 236);
  border: 3px solid rgb(101, 101, 206);
  padding: 20px;
  margin: 30px;
  position: absolute;
  top: 30px;
right: -45px;
  width: 10px;
  height: 10px;
}